%h2 Orders

%table
  %thead
    %tr
      %th ID
      %th Event
      %th Venue
      %th Section
      %th Row
      %th Quantity
      %th State
      %th Tickets

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= order.event_name
        %td= order.venue
        %td= order.section
        %td= order.row
        %td= order.quantity
        %td= order.state
        %td= order.tickets.count
