%h2 Orders

%table
  %thead
    %tr
      %th ID
      %th Event &amp; Venue
      %th Section &amp; Row
      %th Quantity

  %tbody
    - @orders.each do |order|
      %tr
        %td
          = order.id
          .minor= order.state.gsub('_', ' ').titleize
        %td
          = order.event_name
          %span.minor= order.venue
          .minor
            = order.occurs_at.strftime('%B %d, %Y at %I:%M %p').gsub(/\s(0)/, ' ')
            = "(#{order.account.exchange} / #{order.account.username} / #{order.remote_id})"
        %td
          = order.section_number
          .minor= order.row
        %td
          = order.quantity
          %span.minor
            \/
            = order.tickets.count
